<% @users.each do |user| %>
	<div class="row">
		<div class="user-list col-md-12 col-sm-12">
			<h3><%= user.name %></h3>
			<%= user.email %>
			<% if current_user.admin? && user != current_user %>
				<%= button_to "Delete user", user_registration_path, method: :delete, class: "btn btn-danger delete-user", data: {confirm: "You Sure?" } %>
		    <% end %>
		</div>
	</div>
<% end %>