@import "bootstrap-sprockets";
@import "bootswatch/readable/variables";
@import "bootstrap";
@import "bootswatch/readable/bootswatch";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*customizations*/

/*mixin*/

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:  border-box;
}


.row {
	padding-top: 1em;
}

.user-list {
	border-bottom: 1px solid red;
	padding: 0 0 1em 1em;
	.delete-user{
		float: right;
		margin: 2px;
	}
}

tr {
	margin: 2px;
}

.email-list {
	padding-right: 10px;
}

.debug_dump {
	margin-top: 50px;
	width: 100%;
	@include box_sizing;
}