<div class="row">
	<div class="col-md-3">
		<div class="email-list">
		<h4>Email List:</h4>
			<% @users.each do |user| %>
				<% if user != current_user %>
					<div class="row">
						<div class="user-list">
								<%= user.name %>:<br>
								<%= user.email %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="col-md-8 well well-lg">
		<div class="email-compose">
			<h3>Compose email here:</h3>
			<%= form_tag action: "send_email", method: 'post' do %>
				<div class="row">
				<table class="table">
					<tr>
						<td>From: </td> 
						<td><%= current_user.email %></td>
					</tr>
					<tr>
						<td>To: </td>
						<td><%= text_field_tag :to_email, params[:to_email], placeholder: 'To', required: true %></td>
					</tr>
					<tr>
						<td>Subject: </td>
						<td><%= text_field_tag :subject_email, params[:subject_email], placeholder: 'Subject', required: true %></td>
					</tr>
					<tr>
						<td colspan="2">
							<%= text_area_tag :content_email, params[:content_email],  class: 'col-md-8', placeholder: 'Composer Message here', size: '55x25', required: true %>
						
						</td>
					</tr>
				</table>
				</div>
				<div class="row">
					
				</div>
				<%= submit_tag "Send", class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>