<header>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= link_to "MailGunMailer", root_path, id: "logo", class: "navbar-brand" %>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	      <ul class="nav navbar-nav navbar-right">
	        <li><%= link_to "Home", root_path %></li>    
	        <% if user_signed_in? %>
	        <li><%= link_to "Users", users_index_path %></li>
	        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	        <% end %>
	      </ul>
	    </div>
	  </div>
	</nav>
</header>