<!DOCTYPE html>
<html>
  <head>
    <title>Mailgunmailer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>

  <body>
  	<%= render 'layouts/header' %>
    <p class="alert"><%= alert %></p>
    <div class="container">
    <% flash.each do |message_type, message|%>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    	<%= yield %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
